<div id="features" class="content-section-a">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 pull-right wow fadeInRightBig">
                <img class="img-responsive " src="@Url.Content("~/Resources/img/Drag/control-responsive.png")" alt="">
            </div>
            
            <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                <h3 class="section-heading">THEMES & TEMPLATES</h3>
                <div class="sub-title lead3">Get ‘em right the first time, every time<br></div>
                <p class="lead">
                    Choose from 400+ customizable<br />
                    Professional (and fun!) templates and themes<br />
                    Or easily create your own look with our intuitive<br />
                    Drag & Drop interface
                </p>
                <p>
                    <a class="btn btn-embossed btn-primary" href="@Url.Action("Fields","Home")" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>