<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInLeftBig">
                <br />
                <img class="img-responsive " src="~/Resources/img/intro/Capture.JPG" alt="" style="height:270px;width:500px">
            </div>
           
            
            <div class="col-sm-6 wow fadeInRightBig" data-animation-delay="200">
                <h3 class="section-heading">DRAG & DROP</h3>
                <div class="sub-title lead3">Grab it and drop to desire location</div>
                <p class="lead">
                    Choose from 400+ customizable<br />
                    Or easily create your own look with our intuitive<br />
                    Drag & Drop interface
                </p>

                <p>
                    <a class="btn btn-embossed btn-primary" href="@Url.Action("Fields","Home")" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 pull-right wow fadeInRightBig">
                <img class="img-responsive " src="~/Resources/img/analytics.png" alt="">
            </div>

            <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                <h3 class="section-heading">REPORTING & ANALYTICS</h3>
                <p class="lead">
                    A special thanks to Death to the Stock Photo for
                    providing the photographs that you see in this template.
                </p>

                <ul class="descp lead2">
                    <li><i class="glyphicon glyphicon-signal"></i>Understand your data and track performance</li>
                    <li><i class="glyphicon glyphicon-list"></i>Everything is perfectly orgainized for future</li>                    
                </ul>
            </div>
        </div>
    </div>

</div>
