<!DOCTYPE html>

<html>

<body>

    <div id="map" style="width:415px;height:270px"></div>

    <script>
function myMap() {
  var myCenter = new google.maps.LatLng(23.087007,72.592026);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom:16};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({
      position: myCenter,
      animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
  google.maps.event.addListener(marker, 'click', function () {
      var infowindow = new google.maps.InfoWindow({
          content: "Aavitech Solutions Private Limited"
      });
      infowindow.open(map, marker);
  });
 
}
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

</body>
</html>