
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Thank and Regarded</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        blockquote {
            border-left: none;
        }

        .quote-badge {
            background-color: rgba(0, 0, 0, 0.2);
        }

        .quote-box {
            overflow: hidden;
            margin-top: -50px;
            padding-top: -100px;
            border-radius: 17px;
            background-color: #40DFCC;
            margin-top: 25px;
            color: white;
            width: 100%;
            box-shadow: 2px 2px 2px 2px #E0E0E0;
        }

        .quotation-mark {
            margin-top: -10px;
            font-weight: bold;
            font-size: 100px;
            color: black;
            font-family: "Times New Roman", Georgia, Serif;
        }

        .quote-text {
            font-size: 25px;
            margin-top: -65px;
        }
    </style>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="container">
        <br /><br /><br /><br /><br /><br /><br />
        <blockquote class="quote-box">
            <div class="col-md-6">
                <p class="quotation-mark">
                    “
                </p>
                <p class="quote-text">

                    Thank you
                </p><p>
                    Your Form is Successfully Submitted<br>
                    Please contact for more information.Email : <a href="mailto:info.formbuilder@gmail.com ">info.formbuilder@gmail.com</a>
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/Resources/img/intro/thank-you-png-icon-2.png" />
            </div>

            <div class="col-md-12 blog-post-actions">
                <hr>
                <p class="blog-post-bottom pull-left">
                    Form Builder
                </p>
                <p class="blog-post-bottom pull-right">
                    <span class="badge quote-badge">2017</span>  ❤
                </p>
            </div>
        </blockquote>
    </div>
    <script type="text/javascript">

    </script>
</body>
</html>
